{% extends 'base.html' %}

{% block title %}Images {% endblock %}

{% block header %} Image Edit {% endblock %}

{% block content %}
<section class="mt-2">
  <div class="row">
    <form action="/images/{{image.id}}/edit" method="POST">
      <input type="text" name="title" value="{{image.title}}">
      <input type="submit" value="Update" class="btn btn-primary my-3 w-auto">
      <a href="/images/"  class="btn btn-info my-3">취소</a>
    </form>
    <img src="{{ url_for('images.get_image', id=image.id ) }}" alt="{{image.name}}">
  </div>

</section>
{% endblock %}